$background-color: aquamarine;
$button-padding: 18px;
$border-radius: 24px;
$transition-duration: 0.3s;

html {
  background-color: $background-color;
}

.collapsible {
  &__button {
    background-color: white;
    cursor: pointer;
    padding: $button-padding;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: $border-radius;
    transition: all $transition-duration;

    &:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
  }

  &.active {
    &__button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:after {
        content: '\2212';
      }
    }
  }

  &__content {
    position: relative;
    padding: 0 $button-padding;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, border-radius $transition-duration,
      bottom $transition-duration;
    background-color: white;
    border-radius: $border-radius;
    bottom: $border-radius;
    z-index: -1;
  }
}
